.input-container {
    height: 2.5rem;
    position: relative;
    width: 30rem;
}

.input-field {
    border: none;
    border-radius: 2rem;
    box-sizing: border-box;
    box-shadow: 0 0.25rem 0.25rem 0 var(--dark-background-color-25);
    color: var(--dark-text-color);
    font-size: 1rem;
    height: 100%;
    padding: 1rem;
    position: relative;
    width: 100%;
}

.input-button {
    align-items: center;
    background: none;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.input-field:focus {
    outline: none;
}

.input-button:hover {
    transform: translateY(-50%) scale(1.1);
}

.input-icon {
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .input-container {
        width: 20rem;
    }

    .input-field {
        padding: 0.6rem;
    }

    .input-button {
        height: 80%;
        right: 0.1rem;
        width: 10%;
    }
}
