.input-container {
    position: relative;
    width: 30rem;
    height: 2.5rem;
}

.input-field {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    border: none;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #F7EBE8;
    font-size: 1rem;
    padding: 1rem;
    position: relative;
}

.input-button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.input-button:focus,
.input-field:focus {
    outline: none;
}

.input-button:hover {
    transform: translateY(-50%) scale(1.1);
}

.input-icon {
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .input-container {
        width: 20rem;
    }

    .input-field {
        padding: 0.6rem;
    }

    .input-button {
        width: 10%;
        height: 80%;
        right: 0.1rem;
    }
}