.login-page {
    align-items: center;
    background-color: var(--light-background-color);
    display: flex;
    flex-direction: column;
    gap: 3rem; 
    height: 100vh;
    justify-content: center;
    width: 100vw;
}
