.switch-container {
    align-items: center;
    display: flex;
    justify-content: end;
    width: 180px;
}

.switch{
    align-items: center;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    height: 40px;
    justify-content: center;
}

.switch:focus{
    outline: none;
}

.switch:hover{
    transform: scale(1.1);
}
