.card {
    border-radius: 0.5rem;
    height: 12.5rem;
    margin: 0.625rem;
    padding: 1.25rem;
    position: relative;
    width: 12.5rem;
}

.card p {
    color: #1E1E1E;
    font-size: 1rem;
    height: 80%;
    margin: 0;
    overflow: auto;
}

.card textarea {
    background-color: transparent;
    border: none;
    color: #1E1E1E;
    height: 75%;
    resize: none;
    width: 100%;
}

.card textarea:focus {
    outline: none;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.icon {
    color: #1E1E1E;
    cursor: pointer;
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1E1E1E25;
    border-radius: 0.125rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #1E1E1E;
}
