.card {
    border-radius: 8px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    position: relative;
    width: 200px;
}

.card p {
    color: #1E1E1E;
    font-size: 14px;
    height: 80%;
    margin: 0;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1E1E1E25;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1E1E1E;
}

.card textarea {
    background-color: transparent;
    border: none;
    color: #1E1E1E;
    height: 75%;
    resize: none;
    width: 100%;
}

.card textarea:focus {
    outline: none;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.icon {
    color: #1E1E1E;
    cursor: pointer;
    font-size: 18px;
}
