.header{
    align-items: center;
    box-sizing: border-box;
    display:flex;
    gap:2rem;
    height: 4rem;
    justify-content: space-around;
    padding:3rem;
    width: 100vw; 
}

@media (max-width: 600px) {
    .header{
        gap:1rem;
        padding:3rem 1rem;
    }
}
