.header{
    box-sizing: border-box;
    width: 100vw;
    height: 4rem;
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap:2rem;
    padding:3rem;
}

@media (max-width: 600px) {
    .header{
        gap:1rem;
        padding:3rem 1rem;
    }
}