.card__color {
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 0.5rem;
    display: flex;
    height: 1.5rem;
    justify-content: space-around;
    width: 100%;
}

.card__color div {
    border-radius: 0.5rem;
    box-shadow: 0.0625rem #1E1E1E40;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
}

.card__color .default {
    background-color: #9FB4C7;
}

.card__color .green {
    background-color: #A0ECD0;
}

.card__color .salmon {
    background-color: #F4B9B2;
}

.card__color .red {
    background-color: #F49690;
}

.card__color .yellow {
    background-color: #FFF799;
}

.card__color .purple {
    background-color: #C490D1;
}
